DATABASE_URL="postgresql://<user>:<password>@<host>/<db>?sslmode=require"
JWT_SECRET=TodoAppRollSecretKey
ACCESS_TOKEN_EXPIRES=30m
REFRESH_TOKEN_EXPIRES=2d
CLOUDINARY_URL=cloudinary://<api_key>:<api_secret>@<cloud_name>
PORT=4000