# Node
node_modules/
**/node_modules/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# Builds
dist/
**/dist/
build/
**/build/

# Vite / coverage / tests
coverage/
.vitest/
.vscode/

# Env (muy importante no subir secrets)
.env
**/.env
.env.local
**/.env.local

# Sistema/IDE
.DS_Store
Thumbs.db
.idea/
*.swp

# Archivos de tu app que no deberían ir a git
uploads/
database/
database/*.json
backend/uploads/
backend/database/
frontend-react/uploads/

# Lockfiles si no quieres fijarlos (opcional)
# package-lock.json
# pnpm-lock.yaml
# yarn.lock
